* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: cursive;
}
.container-wrapper {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
img {
  width: 100%;
}

#dire {
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: large;
  font-family: cursive;
}
#No {
  padding-left: 30px;
}
span {
  font-weight: bold;
  font-size: larger;
}
header {
  background: url(./Image/MainSectionImage.jpeg) no-repeat center/cover;
  height: 600px;
}
.container-wrapper-01 {
  height: 100px;
  display: flex;
  justify-content: center;
  /* justify-content: space-around; */
  position: sticky;
  top: 0;
}
.logo {
  width: 200px;
}
.parent {
  position: relative;
}
.child {
  width: 110px;
  background-color: transparent;
  border: 1px solid white;
  /* text-align: center; */
  box-shadow: 10px 5px 5px black;
  padding-bottom: 5px;
  position: relative;
  top: 0px;
  left: 400px;
  display: none;
}
.parent:hover + .child {
  display: block;
}

a {
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
  color: black;
}
.last-four a {
  margin-left: 30px;
}
.child a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  margin-left: 0px;
}
.first-section {
  display: flex;
  justify-content: end;
  padding-right: 70px;
  padding-top: 100px;
}
.first-two {
  padding-top: 50px;
}
.last-four {
  padding-top: 50px;
}
/* .first-btn {
  width: 150px;
  height: 50px;
  background-color: #a49687;
  border-radius: 30px;
  border: none;
  margin-left: 90px;
} */

.first-btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 30px;
  text-align: center;
  margin-left: 90px;
}

.first-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

h1 {
  font-size: 40px;
  /* font-family: sans-serif; */
  padding-bottom: 10px;
}
.first-text p {
  font-size: 35px;
  padding-bottom: 15px;
}

.second-section h2 {
  font-size: 40px;
  text-align: center;
  padding: 100px 0px 60px 0px;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.first {
  width: 250px;
  border: 2px solid #7c797926;
  border-radius: 50px;
  text-align: center;
}

.first img:hover {
  width: 80%;
}
.first h2 {
  padding-top: 10px;
  font-size: 16px;
}
.third-section {
  text-align: center;
  padding-bottom: 100px;
}
.sec-course {
  font-size: 40px;
  padding: 70px 0px 30px 0px;
}
.third-section p {
  font-size: 19px;
  padding-bottom: 40px;
}
/* .course-btn {
  width: 150px;
  height: 40px;
  background-color: #a49687;
  border-radius: 30px;
  border: none;
} */
.course-btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 15px;
  text-align: center;
}

.course-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
.course {
  display: flex;
  justify-content: space-around;
}

.course-first h2 {
  font-size: 18px;
  padding-bottom: 20px;
}
.course-first img {
  width: 250px;
  border-radius: 40px;
  margin-bottom: 20px;
}
.course-first img:hover {
  width: 300px;
}
.section-four {
  display: flex;
  align-items: center;
}
.about-img img {
  width: 700px;
  border-radius: 100px;
}
.about-text h2 {
  text-align: center;
  font-family: cursive;
  font-size: 40px;
  padding: 20px;
}
.about-text p {
  text-align: center;
  font-family: cursive;
}
.boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.sec-five h2 {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 35px;
}
.pahla {
  width: 350px;
  height: 200px;
  text-align: center;
  background-color: #a49687;
  border-radius: 50px;
}
.col-25 {
  height: 50px;
  background-color: chocolate;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.one {
  padding-top: 15px;
  font-size: 25px;
  font-weight: bolder;
}
.col-50 p {
  padding: 20px;
  font-size: 13px;
}
.col-50 :hover {
  font-size: 16px;
}

/* Gallery */

.Gallery h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.Gallery-01 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  width: 100%;
}
.div1 {
  background: url(./Image/photo1.jpg) no-repeat center center/cover;
  grid-column: 1/4;
}
.div2 {
  background: url(./Image/photo2.jpg) no-repeat center center/cover;
}
.div3 {
  background: url(./Image/photo3.jpg) no-repeat center center/cover;
  grid-column: 1/2;
}
.div4 {
  background: url(./Image/photo4.jpg) no-repeat center center/cover;
  grid-column: 2/4;
}
.div5 {
  background: url(./Image/photo5.jpg) no-repeat center center/cover;
}
.div6 {
  background: url(./Image/photo6.jpg) no-repeat center center/cover;
  grid-column: 1/3;
}
.div7 {
  background: url(./Image/photo7.jpg) no-repeat center center/cover;
  grid-column: 3/5;
}

.sec-seven h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.video-flex {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}

/* Section - Eight */

.sec-eight {
  background: url(./Image/IndianNavy01.jpeg) fixed;
  /* width: 100%; */
  height: 500px;
  opacity: 0.4;
  /* filter: blur(10px); */
}
#section-08 {
  position: relative;
  padding-bottom: 100px;
}
.sec-eight-01 {
  text-align: center;
  padding-top: 100px;
  position: absolute;
  top: 50px;
  left: 250px;
}
.sec-eight-01 img {
  width: 20px;
}
.sec-eight-01 p {
  font-size: 20px;
  font-family: cursive;
  padding-bottom: 20px;
}
.sec-htwo {
  font-size: 35px;
  font-family: cursive;
  padding: 30px 0px 30px 0px;
}
.sec-htwo-01 {
  font-size: 25px;
  font-family: cursive;
}
.sec-nine {
  display: flex;
  justify-content: space-around;
}
.nine-htwo {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.two-part {
  width: 600px;
  border: 1px solid #ffff;
  background-color: #a49687;
  box-shadow: 5px 5px 5px 5px #d9d1d1;
}
.nine-col-25 img {
  width: 100%;
  height: 280px;
}
.nine-col-50 {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #a49687;
}
.major {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}
.trainer {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}
.inputt {
  width: 300px;
  height: 50px;
  margin-bottom: 23px;
  padding-left: 10px;
}
#massage {
  padding: 10px 0px 0px 10px;
}
#form-id {
  width: 100%;
  height: 350px;
}
.inputbtn {
  width: 150px;
  height: 50px;
  background-color: #a49687;
  border-radius: 50px;
  border: none;
  margin-left: 500px;
}

/* footer */

footer {
  background-color: #a49687;
}
.footer-div {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.footer-img {
  width: 500px;
  margin-top: 55px;
}
.info h2 {
  font-size: 35px;
  /* text-align: center;   */
  padding-top: 75px;
  padding-bottom: 30px;
}
.info p {
  padding-bottom: 15px;
}

button {
  font-family: cursive;
}
