* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.first-head {
  width: 100%;
  height: 40px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  font-family: serif;
  font-weight: 400;
}
.fst {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.icon:hover {
  cursor: pointer;
  color: #77c720;
}

select {
  background: #000;
  color: #fff;
  border: none;
}

/* First-Header */
.first-header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Image/houzez-header-1.jpg) no-repeat fixed center/cover;
  padding-bottom: 100px;
}
.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.logo {
  width: 150px;
}
.headings ul {
  display: flex;
  gap: 10px;
}
.headings li {
  font-size: 14px;
  list-style-type: none;
  padding: 40px 5px;
  /* letter-spacing: 1px; */
  color: #fff;
  font-family: sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none !important;
}
.headings li:hover {
  color: #77c720;
  background-color: rgba(255, 255, 255, 0.1);
}
.internal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 40px;
}
.main-text {
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.text1 {
  font-size: 20px;
  font-family: Sans-serif;
  padding-top: 15px;
  text-transform: uppercase;
  font-weight: 400;
}

.btns {
  display: flex;
  gap: 5px;
  padding-top: 36px;
}
.btn-info {
  width: 100px;
  height: 45px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
  background-color: #77c720 !important;
  color: #fff;
}
.input-box {
  width: 60%;
  height: 70px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
}
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#cities-name {
  width: 150px;
  height: 50px;
  background-color: #fff;
  color: rgb(189, 186, 186);
  border-radius: 5px;
  border: 1px solid gainsboro;
}
.text-place {
  width: 425px;
  height: 50px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding-left: 5px;
}
.text-place::placeholder {
  color: #1d1b1b;
}
.main-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #77c720 !important;
  color: #fff;
}

/* Second-Sec Start */
#second-sec {
  background-color: rgb(244, 245, 247);
}
.second-text {
  text-align: center;
  padding: 40px 0px;
}
.second-head {
  font-size: 45px;
  padding-bottom: 20px;
}
.second-p {
  font-size: 15px;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  padding-bottom: 5px;
  color: #6d6767;
}

/* Img-Gallery */
.gallery-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.img-gallery {
  width: 350px;
  height: 460px;
  background-color: #fff;
  border-radius: 3px;
}

.col-25 {
  position: relative;
}
.fstimg {
  width: 350px;
  height: 250px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.featured {
  padding: 3px;
  font-size: 10px;
  background-color: #77c720;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
}
.span-div a {
  color: #fff;
}
.rent {
  padding: 3px;
  font-size: 10px;
  background-color: #2a2929;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
}
.rent a:hover {
  color: #77c720;
}
.expond {
  padding: 5px;
  position: absolute;
  bottom: 25px;
  right: 100px;
}
.expond:hover {
  background-color: #373636;
  border-radius: 3px;
}
.heart {
  padding: 5px;
  position: absolute;
  bottom: 25px;
  right: 60px;
}
.heart:hover {
  background-color: #373636;
  border-radius: 3px;
}
.plus {
  padding: 5px;
  position: absolute;
  bottom: 25px;
  right: 20px;
}
.plus:hover {
  background-color: #373636;
  border-radius: 3px;
}
.col-50 {
  height: 220px;
  text-align: center;
  padding: 30px 0px 50px 0px;
  background-color: #fff;
}
.col-50 a {
  text-decoration: none;
  color: #282828;
}
.text01-01 {
  font-size: 25px;
}
.text01-01 a:hover {
  color: #77c720;
}
.price {
  font-size: 17px;
  /* padding: 0px 0px 10px 0px; */
  font-family: sans-serif;
}
.apart {
  color: #6d6767;
  font-size: 12px;
  /* padding-bottom: 10px; */
}
.col-50 ul {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}
.col-50 li {
  list-style-type: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.col-50 ul li:nth-child(9) {
  font-size: 12px;
  color: #6d6767;
}

.load-btn {
  width: 200px;
  height: 40px;
  border: 1px solid #77c720;
  color: #77c720;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.load-btn-div {
  display: flex;
  justify-content: center;
  padding: 50px 0px 60px 0px;
}
/* Slider */
.carousel-inner {
  width: 100%;
  height: 650px;
}
