* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #fff;
}
nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 250px;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav a {
  text-decoration: none;
  /* color: #ffff; */
}
.home:hover + .underline {
  display: block;
}
nav a:visited::after {
  color: #ffbd39;
}
nav a:active {
  color: #ffff;
}

.underline {
  color: #ffbd39;
  display: none;
}
nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 50px;
  font-family: sans-serif;
}
.logo {
  width: 160px;
}

/* section-01 */

#section-01 {
  background: url(./image/pexels-daniel-putzer-633409.jpg) no-repeat
      center/cover,
    #0000;
  height: 460px;
  padding-left: 94px;
  padding-top: 100px;
}
.hello {
  color: #ffbd39;
  padding-bottom: 20px;
  background-color: transparent;
}
h1 {
  /* color: #fff; */
  font-size: 50px;
  padding-bottom: 10px;
  background-color: transparent;
}
#section-01 h2 {
  color: #ffbd39;
  font-size: 40px;
  background-color: transparent;
}

.firstbtn {
  border-style: none;
  font-size: 16px;
  font-weight: 800;
  padding: 12px 35px;
  margin-top: 10px;
  position: relative;
  z-index: 0;
}

.firstbtn:before {
  background-image: linear-gradient(#ffbd39, #f93a13);
  content: "";
  display: block;
  height: 100%;
  border-radius: 30px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.firstbtn:after {
  background-image: linear-gradient(#541a0f, #0c0d0d);
  bottom: 4px;
  border-radius: 30px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: -1;
}

.firstbtn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}

/* Section- 02 */
#section-02 {
  padding: 50px 0px 50px 0px;
  position: relative;
}
.about-01 {
  font-size: 50px;
  background-color: transparent;
  color: #ffbd39;
  position: absolute;
  top: 50px;
  left: 520px;
}
.about {
  font-size: 100px;
  text-align: center;
  opacity: 0.1;
}
.main-div {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 50px;
}
.me {
  width: 300px;
  height: 320px;
  border-radius: 20px;
}
.second {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.part-01 {
  font-family: sans-serif;
}
.part-01 h2 {
  padding-bottom: 30px;
}
.part-02 {
  font-family: sans-serif;
  padding-top: 4px;
}
.part-02 p {
  color: #979292;
  font-size: 20px;
  padding-bottom: 35px;
}

/* Section - 03 */
#section-03 {
  padding: 50px 0px 50px 0px;
  position: relative;
}
.resume-01 {
  font-size: 50px;
  background-color: transparent;
  color: #ffbd39;
  position: absolute;
  top: 50px;
  left: 550px;
}
.resume {
  font-size: 100px;
  text-align: center;
  opacity: 0.1;
  padding-bottom: 40px;
}
.boxes {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.box01 {
  width: 650px;
  height: 200px;
  background-color: #fafafa26;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
}
.box {
  width: 450px;
  height: 200px;
  /* border: 1px solid #fff; */
  background-color: #fafafa26;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
}
.year {
  font-size: 30px;
  color: #ffbd39;
  background-color: transparent;
  font-weight: 1000;
  padding-top: 50px;
}
.clg {
  font-size: 15px;
  color: #979292;
  background-color: transparent;
  font-weight: bold;
  padding-top: 10px;
}
.box h2 {
  background-color: transparent;
}
.box01 h2 {
  background-color: transparent;
}
.secondbtn {
  border-style: none;
  font-size: 16px;
  font-weight: 800;
  font-family: cursive;
  padding: 12px 35px;
  margin-top: 30px;
  text-align: center;
  position: relative;
  z-index: 0;
  left: 540px;
}
.secondbtn:before {
  background-image: linear-gradient(#ffbd39, #f93a13);
  content: "";
  display: block;
  height: 100%;
  border-radius: 30px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}
.secondbtn:after {
  background-image: linear-gradient(#541a0f, #0c0d0d);
  bottom: 4px;
  border-radius: 30px;
  content: "";
  left: 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: -1;
}
.secondbtn:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}
.cv {
  background-color: transparent;
  text-decoration: none;
}
/* section - 04 */

#section-04 {
  width: 90%;
  height: 500px;
  padding-top: 50px;
  margin: 0 auto;
  font: 12px normal Arial;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.container-01 h2 {
  font-size: 35px;
  font-weight: normal;
  padding: 10px 0 16px 0;
  margin-bottom: 40px;
  text-align: center;
  background: #000;
  border-radius: 2px;
}
.skills {
  border: 1px solid #ff4500;
  box-shadow: 0px 0px 50px -8px #ff4500;
  color: #ff4500;
  text-shadow: 1px 1px 5px #000, 0 0 10px #ff4500, 0 0 20px #ff4500;
}

.container-01 {
  padding: 5%;
}

.col {
  width: 23%;
  margin: 0 5%;
  position: relative;
  float: left;
  padding: 5%;
}
.skill li {
  list-style: none;
  margin-bottom: 70px;
  background: #030303;
  width: 230px;
  height: 6px;
  border-radius: 3px;
  border-left: 1px solid #111;
  border-top: 1px solid #111;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
.skill li em {
  position: relative;
  font-style: normal;
  top: -28px;
}

.redline {
  height: 3px;
  margin: 2px 0;
  background: #ff4500;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(255, 69, 0, 0.4);
}
.html {
  width: 95%;
  animation: html 2s;
}
.css {
  width: 90%;
  animation: css 2s;
}

.javascript {
  width: 70%;
  animation: javascript 2s;
}
.jquery {
  width: 70%;
  animation: jquery 2s;
}
.wordpress {
  width: 75%;
  animation: wordpress 2s;
}
.shopify {
  width: 75%;
  animation: shopify 2s;
}

@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 95%;
  }
}
@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 90%;
  }
}

@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}
@keyframes jquery {
  0% {
    width: 0px;
  }
  100% {
    width: 77%;
  }
}

@keyframes wordpress {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}
@keyframes shopify {
  0% {
    width: 0px;
  }
  100% {
    width: 75%;
  }
}

/* Section - 05 */
#section-05 {
  padding: 50px 0px 50px 0px;
  position: relative;
}
.project-01 {
  font-size: 50px;
  background-color: transparent;
  color: #ffbd39;
  position: absolute;
  top: 50px;
  left: 535px;
}
.project {
  font-size: 100px;
  text-align: center;
  opacity: 0.1;
  padding-bottom: 40px;
}
.first-three {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.first-three img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 50px;
}

/* Section - 06 */
#section-06 {
  padding: 50px 0px 50px 0px;
  position: relative;
  margin-bottom: 80px;
}
.contact-01 {
  font-size: 50px;
  background-color: transparent;
  color: #ffbd39;
  position: absolute;
  top: 50px;
  left: 525px;
}
.contact {
  font-size: 100px;
  text-align: center;
  opacity: 0.1;
  padding-bottom: 40px;
}
.map {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  background-color: #000;
  border: 1px solid #333;
  position: relative;
}
.map-icon {
  position: absolute;
  top: 257px;
  left: 42px;
}
.icon-container {
  display: flex;
  justify-content: center;
  gap: 70px;
}
.add {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 25px;
  padding: 15px 0px 15px 0px;
}
.addd {
  color: #979292;
}
.map-icon {
  position: absolute;
  top: 257px;
  left: 103px;
}
.contact-icon {
  position: absolute;
  top: 257px;
  left: 372px;
}
.email-icon {
  position: absolute;
  top: 257px;
  left: 651px;
}
.linkdin-icon {
  position: absolute;
  top: 257px;
  right: 300px;
}
.github-icon {
  position: absolute;
  top: 257px;
  right: 105px;
}

.linkdin {
  padding-left: 10px;
}
.git {
  padding-left: 10px;
}
