/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
  .container-wrapper {
    padding-left: 35px;
  }
  .firstH1 {
    font-size: 60px;
  }
  .photo-text-h2 {
    font-size: 50px;
  }
  .menu-text-01 {
    font-size: 40px;
  }
  .store {
    font-size: 40px;
  }
  .sec-07-h2 {
    font-size: 40px;
  }
  .bluebanana {
    right: 640px;
  }
  .bluebanana01 {
    bottom: 90px;
    right: 250px;
  }
  .blueshape {
    top: 0px;
  }
  .yellowshape {
    right: 230px;
  }
  .orangeshape {
    top: 350px;
    left: 500px;
  }
  .blueshape01 {
    bottom: 25px;
  }
  .yellowshape02 {
    width: 45px;
  }
  .bluewaveshape {
    width: 250px;
    z-index: -1;
  }
  .pause {
    left: 470px;
  }
  .bluewaveshape002 {
    top: -10px;
  }
  .bluewaveshape02 {
    top: -10px;
  }
  .img-02 {
    z-index: 1;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
  .container-wrapper {
    padding-left: 50px;
  }
  .firstH1 {
    font-size: 50px;
  }
  .photo-text-h2 {
    font-size: 50px;
  }
  .menu-text-01 {
    font-size: 40px;
  }
  .store {
    font-size: 40px;
  }
  .sec-07-h2 {
    font-size: 40px;
  }
  .bluebanana {
    right: 540px;
  }
  .bluebanana01 {
    bottom: 90px;
    right: 150px;
  }
  .blueshape {
    top: 0px;
  }
  .yellowshape {
    right: 30px;
  }
  .orangeshape {
    top: 350px;
    left: 500px;
  }
  .orangewaveshape02 {
    width: 130px;
  }
  .blueshape01 {
    bottom: 25px;
  }
  .yellowshape02 {
    width: 45px;
  }
  .bluewaveshape {
    width: 200px;
    z-index: -1;
  }
  .bluewaveshape002 {
    top: -10px;
  }
  .bluewaveshape02 {
    top: -10px;
  }
  .img-02 {
    z-index: 1;
  }
  .pause {
    left: 380px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  /* Section - 01 */

  .container-wrapper {
    padding-left: 65px;
  }
  .container-wrapper-01 {
    gap: 110px;
  }
  /* .container-wrapper-01 p {
    font-size: 14px;
  } */
  /* .ul-01 {
    gap: 30px;
  } */
  /* .firstH1 {
    font-size: 35px;
    padding-bottom: 30px;
  } */
  /* .firstP {
    font-size: 13px;
  } */
  /* .firstbtn {
    width: 100px;
    height: 30px;
    margin-top: 40px;
  } */
  /* .img-02 {
    width: 330px;
    z-index: 1;
  } */
  .blueshape {
    width: 55px;
    top: 0px;
  }
  .bluewaveshape {
    width: 180px;
  }
  .orangewaveshape {
    width: 120px;
    left: -30px;
  }
  .yellowshape {
    width: 50px;
    right: 60px;
    z-index: -1;
  }
  .orangeshape {
    width: 50px;
    left: 380px;
  }

  /* Section - 03 */

  .photo-text-h2 {
    font-size: 37px;
  }
  .photo-text {
    gap: 80px;
  }
  .orangeshape01 {
    right: 50px;
  }
  .orangewaveshape01 {
    width: 135px;
  }
  .blueshape01 {
    width: 55px;
    bottom: 40px;
    left: 485px;
  }

  /* Section - 04 */

  .menu-box {
    gap: 10px;
  }
  .menu-img-001 {
    width: 130px;
  }
  .menu-box-001 p {
    font-size: 10px;
  }
  .menu-box-01 {
    width: 310px;
    gap: 10px;
  }

  /* Section - 05 */

  .section-05-flex {
    gap: 50px;
  }
  .col-15 {
    width: 254px;
  }
  .bluewaveshape002 {
    width: 110px;
  }
  .bluewaveshape02 {
    width: 130px;
  }
  .orangewaveshape02 {
    width: 100px;
  }
  .orangeshape02 {
    right: 450px;
  }

  /* Section - 06 */

  .pause {
    left: 270px;
  }

  /* Section -07 */

  .yellowshape07 {
    top: 60px;
  }
  .bluebanana01 {
    right: 40px;
  }
  .bluebanana {
    top: 37px;
    right: 430px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  /* Section - 01 */

  .container-wrapper {
    padding-left: 82px;
  }
  .container-wrapper-01 {
    padding-left: 90px;
    gap: 50px;
  }
  .container-wrapper-01 p {
    font-size: 14px;
  }
  .ul-01 {
    gap: 30px;
  }
  .firstH1 {
    font-size: 35px;
    padding-bottom: 30px;
  }
  .firstP {
    font-size: 13px;
  }
  .firstbtn {
    width: 100px;
    height: 30px;
    margin-top: 40px;
  }
  .img-02 {
    width: 330px;
    z-index: 1;
  }
  .blueshape {
    width: 50px;
    top: 0px;
  }
  .bluewaveshape {
    width: 120px;
  }
  .orangewaveshape {
    width: 120px;
    left: -30px;
  }
  .yellowshape {
    width: 40px;
    right: 20px;
    z-index: -1;
  }
  .orangeshape {
    width: 50px;
    left: 350px;
  }

  /* Section - 02 */

  .img-00 {
    width: 67px;
  }
  .img-001 {
    width: 100px;
  }
  .img-002 {
    width: 72px;
  }
  .box-hthree h3 {
    font-size: 15px;
  }
  .box-hthree p {
    font-size: 14px;
  }

  /* Section - 03 */
  .photo-text {
    gap: 50px;
  }
  .photo-text-h2 {
    font-size: 35px;
  }
  .text p {
    font-size: 14px;
  }
  .photo {
    width: 350px;
    z-index: 1;
  }
  .orangewaveshape01 {
    width: 95px;
    left: 327px;
  }
  .orangeshape01 {
    top: 50px;
    right: 50px;
  }
  .blueshape01 {
    width: 40px;
    left: 370px;
  }
  .bluewaveshape01 {
    width: 100px;
  }
  .yellowshape01 {
    width: 30px;
    bottom: 35px;
    right: 40px;
  }
  .read {
    padding-top: 30px;
  }

  /* Section - 04 */

  .menu-text-01 {
    font-size: 25px;
  }
  .menu-text p {
    font-size: 15px;
  }
  .menu-box {
    flex-direction: column;
    gap: 20px;
    /* padding-left: 100px; */
    align-items: center;
  }
  .menu-box-01 {
    width: 450px;
    gap: 70px;
    box-shadow: 3px 3px 3px 3px #d9d1d1;
  }

  /* Section - 05 */

  .store {
    font-size: 30px;
  }
  .section-05-text p {
    font-size: 15px;
  }
  .section-05-flex {
    gap: 30px;
  }
  .flex-01 {
    width: 200px;
    box-shadow: 3px 3px 3px 3px #d9d1d1;
  }
  .positionbtn {
    width: 90px;
    height: 35px;
    font-size: 15px;
    padding-top: 7px;
    top: 138px;
    left: 55px;
  }
  .col-30 {
    padding-left: 5px;
    padding-top: 45px;
  }
  .col-30 p {
    font-size: 13px;
  }
  .orangeshape02 {
    width: 50px;
    bottom: -10px;
    right: 340px;
  }
  .yellowshape02 {
    width: 30px;
    bottom: 120px;
  }
  .orangewaveshape02 {
    width: 86px;
    right: -15px;
  }
  .bluewaveshape002 {
    width: 100px;
  }
  .bluewaveshape02 {
    width: 120px;
  }
  .blueshape02 {
    width: 50px;
  }

  /* Section - 06 */

  .section-06-container {
    gap: 20px;
  }
  .sec-06-text h3 {
    font-size: 30px;
  }
  .sec-06-text p {
    font-size: 15px;
  }
  .sec-06-image {
    width: 400px;
    box-shadow: 3px 3px 3px 3px #d9d1d1;
  }
  .pause {
    left: 200px;
  }

  /*  Section - 07 */

  .sec-07-img {
    width: 350px;
  }
  .name-input {
    width: 250px;
    height: 30px;
  }

  .mass-input {
    width: 250px;
    height: 70px;
    padding-top: 0px;
  }
  .sec-07-text {
    margin: 30px auto;
  }
  .sec-07-h2 {
    font-size: 30px;
    padding-bottom: 25px;
  }
  .lastbtn {
    width: 130px;
    height: 35px;
    font-size: 15px;
    margin-top: 35px;
  }
  .orangewave07 {
    width: 90px;
    left: 297px;
  }
  .bluebanana {
    width: 27px;
    top: 25px;
    right: 305px;
  }
  .orangesingal {
    width: 85px;
    top: -10px;
  }
  .yellowshape07 {
    width: 27px;
    top: 30px;
    right: 15px;
  }
  .bluebanana01 {
    width: 40px;
    right: 60 px;
  }
  .orangewave07 {
    width: 90px;
    left: 328px;
  }

  /* Footer */

  .footer-text-01 h3 {
    font-size: 18px;
  }
  .footer-text-01 p {
    font-size: 14px;
  }
  .logo-div {
    width: 74px;
  }
  .logo-div-01 {
    width: 40px;
    padding-top: 5px;
    padding-bottom: 25px;
  }
  .footer-icons {
    width: 15px;
    padding-top: 22px;
    gap: 15px;
  }
  .halimun {
    padding-top: 21px;
  }
  .last-p {
    padding-top: 32px;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .container-wrapper {
    padding-left: 75px;
  }
  .container-wrapper-01 {
    padding-left: 50px;
    gap: 35px;
  }
  .ul-01 {
    gap: 25px;
  }
  .container-wrapper-01 p {
    font-size: 12px;
  }
  .firstH1 {
    font-size: 25px;
    padding-bottom: 30px;
  }
  .img-02 {
    width: 240px;
    z-index: 1;
  }

  .blueshape {
    width: 40px;
    top: 0px;
    left: -10px;
  }
  .orangewaveshape {
    width: 80px;
    left: -20px;
  }
  .firstbtn {
    width: 100px;
    height: 30px;
  }
  .bluewaveshape {
    width: 110px;
  }
  .yellowshape {
    width: 30px;
    right: 15px;
    z-index: -1;
  }
  .orangeshape {
    width: 40px;
    left: 240px;
    top: 250px;
  }
  .box-01 {
    padding: 0px;
  }
  .img-00 {
    width: 67px;
  }
  .img-001 {
    width: 100px;
  }
  .img-002 {
    width: 72px;
  }
  .box-hthree h3 {
    font-size: 15px;
  }
  .box-hthree p {
    font-size: 14px;
  }
  .boxes {
    gap: 50px;
    padding: 50px 10px 50px 10px;
  }
  .photo-text {
    gap: 30px;
  }
  .photo-text-h2 {
    font-size: 30px;
    padding-bottom: 20px;
    z-index: 1;
  }
  .text p {
    font-size: 11px;
  }
  .photo {
    width: 280px;
  }

  /* Section - 03 */
  .read {
    padding-top: 30px;
  }
  .orangewaveshape01 {
    width: 75px;
    left: 265px;
    z-index: -1;
  }
  .orangeshape01 {
    width: 50px;
    top: 20px;
    right: 30px;
  }
  .blueshape01 {
    width: 30px;
    bottom: 15px;
    left: 290px;
  }
  .bluewaveshape01 {
    width: 90px;
  }
  .yellowshape01 {
    width: 25px;
    bottom: 35px;
    right: 40px;
  }

  /* Section - 04 */

  .menu-box {
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }
  .menu-box-01 {
    width: 400px;
    gap: 60px;
    margin-bottom: 20px;
  }

  .menu-text-01 {
    font-size: 20px;
  }
  .menu-text p {
    font-size: 13px;
  }

  /* Section - 05 */

  .store {
    font-size: 25px;
  }
  .section-05-text p {
    font-size: 12px;
  }
  .section-05-flex {
    /* flex-direction: column; */
    gap: 10px;
    align-items: center;
  }
  .flex-01 {
    width: 150px;
  }
  .positionbtn {
    width: 70px;
    height: 30px;
    font-size: 10px;
    padding-top: 7px;
    top: 102px;
    left: 40px;
  }
  .col-30 {
    padding: 30px 0px 35px 0px;
  }
  .col-30 p {
    font-size: 10px;
  }
  .visitbtm {
    margin: 35px 0px 0px 35px;
  }
  .bluewaveshape002 {
    width: 70px;
  }
  .bluewaveshape02 {
    width: 90px;
  }
  .blueshape02 {
    width: 40px;
    top: 60px;
  }
  .yellowshape02 {
    width: 40px;
    bottom: 100px;
  }
  .orangeshape02 {
    width: 40px;
    left: 270px;
    bottom: -10px;
  }

  /* Section - 06 */

  .section-06-container {
    padding-bottom: 40px;
    padding-top: 40px;
    gap: 40px;
  }
  .sec-06-image {
    width: 300px;
  }

  .sec-06-text h2 {
    font-size: 25px;
  }
  .sec-06-text p {
    font-size: 10px;
  }
  .para-sec-06 {
    padding-top: 15px;
  }
  .social-icons {
    padding-top: 15px;
  }
  .pause {
    width: 40px;
    left: 140px;
  }

  /*  Section - 07 */

  .name-input {
    width: 200px;
    height: 30px;
  }
  .mass-input {
    width: 200px;
    height: 70px;
    padding-top: 0px;
  }
  .sec-07-img {
    width: 320px;
  }
  .sec-07-text {
    margin: 30px auto;
  }
  .sec-07-h2 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  .lastbtn {
    width: 100px;
    height: 30px;
    font-size: 12px;
    margin-top: 30px;
  }
  .orangewave07 {
    width: 90px;
    left: 297px;
  }
  .bluebanana {
    width: 25px;
    top: 23px;
    right: 203px;
  }
  .orangesingal {
    width: 80px;
    top: -10px;
  }
  .yellowshape07 {
    width: 25px;
    top: 30px;
    right: 15px;
  }
  .bluebanana01 {
    width: 35px;
    right: 15px;
  }

  /*  Footer */

  .footer-text-01 h3 {
    font-size: 14px;
  }
  .footer-text-01 p {
    font-size: 10px;
  }
  .logo-div {
    width: 70px;
  }
  .logo-div-01 {
    width: 35px;
    padding-top: 3px;
    padding-bottom: 13px;
  }
  .footer-icons {
    width: 15px;
    gap: 15px;
  }
  .halimun {
    padding-top: 15px;
  }
  .last-p {
    padding-top: 27px;
  }
}
